{% extends "base.html" %}

{% block outdated %}
  You're not viewing the latest version release.
  <a href="{{ '../' ~ base_url }}"> 
    <strong>Click here to go to the latest version release.</strong>
  </a>
{% endblock %}


<!-- REMOVE WHEN DOCUMENTATION IS FINALIZED -->
{% block header %}

<div class="banner">
    <p style="color:#ffffff; display:inline;">🏗️ I'm under construction! Pardon the dust while we remodel! 👷</p>
</div>

<!-- Original Header -->
{% include "partials/header.html" %}
{% endblock %}
